
.nav-section{
    margin-top: 100px;
}
.nav-section img{
width: 250px;
height: 250px;
border-radius: 13px;
}
.nav-bar{
    display: flex;
    gap: 60px;
   margin-left: 50px;
}
.nav-bar p{
    text-align: center;
}
.nav-bar h4{
    text-align: center;
}

.nav-barrr{
    display: flex;
    gap: 60px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.nav-barrr p{
    text-align: center;
}
.nav-barrr h4{
    text-align: center; 
}






.sectiona-f{
    margin-top: 100px;
}
.header-f img{
    width: 240px;
    height: 370px;
    border-radius: 10px;
}
.header-f {
    display: flex;
    justify-content: space-evenly;
}
.header-f h4{
    text-align: center;
    margin-top: 10px;
}
.header-s h4{
        text-align: center;
        margin-top: 10px;
    }
.header-s img{
    width: 240px;
    height: 380px;
    border-radius: 10px;
}
.header-s{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
} 




.container{
    margin-top: 100px;
}
.container-a img{
    width: 230px;
    height: 250px;
    border-radius: 15px;
}
.container-a {
    display: flex;
    justify-content: space-evenly;
}
.container-b img{
    width: 230px;
    height: 250px;
    border-radius: 15px;
}
.container-b{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.container-a h4{
    text-align: center;
    margin-top: 10px;
}
.container-b h4{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}